[package]
name = "guardgen"
version = "1.2.1"
edition = "2021"
license = "MIT"
readme = "README.md"
repository = "https://github.com/daisuke-nagao/GuardGen"

[dependencies]
clap = { version = "4.5.45", features = ["derive"] }
uuid7 = "1.1.0"

[profile.release]
strip = "debuginfo"

[dev-dependencies]
regex = "1.11.1"

